@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/** VARIABLES **/
$primary: #E94E65;
$secondary: #CB6372;
$info: #B23F56;
$dark: #3D2F32;
$light: #F8F9FA;

$text-primary: "Roboto", sans-serif;
$text-titre: "Lilita One", serif;

/*** Bootstrap ***/
@import "partials/bootstrap";

/*** GLOBAL STYLES ***/
img {
    object-fit: cover;
}

.full-width {
    width: 100%;
    max-width: 1500px;
}

.aside-accueil {
    margin-left: 2.8rem;
    @extend .text-center;
    @extend .col-md-3;
}

a {
    text-decoration: none;
    color: black;
}

.survol {
    width: 60%;
}

.survol:hover {
    text-decoration: none;
    background-color: rgba(188, 121, 188, 0.509);
    border-radius: 1.1rem;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 11px;
    transition: 0.3s;
}

.alignement-gauche {
    text-align: left;
}

.card-abonnement {
    @extend .col-3;
    @extend .rounded-2;
    @extend .border-secondary;
    @extend .border;
    @extend .border-2;
    @extend .mx-1;
    @extend .p-2;
}

.card-abonnement:hover {
    background-color: rgba(203, 99, 115, 0.59);
}

.chkbox {
    width: 15px;
}

.bg-pink-dark {
    background-color: #c2185b !important;
    color: #fff;
}

.btn-pink-dark {
    background-color: #c2185b;
    border-color: #b0104a;
    color: #fff;
}

.btn-pink-dark:hover {
    background-color: #ad1457;
    border-color: #99003f;
}

/***DISCUSSIONS***/
#messages {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.message-row {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.format-discussions .aside-accueil {
    margin-left: 0 !important;
    text-align: left !important;
}

.message-left {
    justify-content: flex-start;
}

.message-right {
    justify-content: flex-end;
}

.bubble {
    max-width: 65%;
    padding: 10px 14px;
    border-radius: 12px;
    font-family: $text-primary;
    word-break: break-word;
}

.bubble-left {
    background: #e9e9e9;
    color: black;
}

.bubble-right {
    background: $primary;
    color: white;
}