@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/** VOS $VARIABLES Sass ici avant l'importation**/
$primary:#E94E65;
$secondary:#CB6372;
$info:#B23F56;
$dark:#3D2F32;
$light:#F8F9FA;

$text-primary: "Roboto",sans-serif;
$text-titre: "Lilita One", serif;

/*** Importation de Boostrap **/
@import "partials/bootstrap";

/*** Début des styles personnalisés ***/


img {
    object-fit: cover;
}

.full-width {
    width: 100%;
    max-width: 1500px;
}
.aside-accueil{
    margin-left: 2.8rem;
    @extend .text-center;
    @extend .col-md-3;
}
a{
    text-decoration: none;
    color: black;
}
.survol{
    width: 60%;
}
.survol:hover{
    text-decoration: none;
    background-color: rgba(188, 121, 188, 0.509);
    border-radius: 1.1rem;
    padding-left: 18px;
    padding-right: 18px;
    transition: 0.3s;
    padding-top: 11px;
}
.alignement-gauche{
    text-align: left;
}
