{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- icone du site -->
    <link rel="icon" href="" />
    <!-- style bootstrap? -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!-- titre tu site -->
    <title>
      {% block title %}
        PerfectMatch
      {% endblock %}
    </title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
    <!-- script javascript -->
    {% block script %}

    {% endblock %}
  </head>

  <body class="d-flex flex-column min-vh-100">
    <!-- Accescibilitee avec tabulation -->
    <a class="visually-hidden-focusable" href="#content">Access au contenu</a>

    <div class="container-fluid">
      <header class="p-0">
        <div class="row">
          <nav class="col-3 d-md-block bg-dark text-white sidebar collapse show" id="sidebarMenu">
            <div class="position-sticky pt-3 text-center">
              <img class="img-fluid rounded-circle bg-light" src="{% static 'utilisateurs/images/happy.png' %}" width="200" height="200" alt="" />
              <p class="h1">{{ user.username }}</p>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link text-dark btn btn-primary mt-4" href="{% url 'profil'%}" style="background-color: #F559CE;">Mon profil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white btn btn-primary mt-4" style="background-color: #F559CE;" href="">Messages</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white btn btn-primary mt-4" style="background-color: #F559CE;" href="">Mes Matchs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white btn btn-primary mt-4" style="background-color: #F559CE;" href="">Paramètre</a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="col-9 bg-secondary py-1 px-5">
            <nav class="navbar navbar-expand-lg navbar-dark">
              <div class="container-fluid">
                <a href="{% url 'accueil' %}"><img class="img-fluid" src="{% static 'utilisateurs/images/happy.png' %}" width="150" height="150" alt="" /></a>
                <form action="" novalidate>
                  <label class="visually-hidden" for="test">Zone de recherche</label>
                  <input name="test" id="test" type="search" placeholder="Recherche..." />
                </form>
              </div>
            </nav>
            <main class="">
              {% block main %}
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ipsum dignissimos necessitatibus itaque dicta possimus porro perferendis asperiores non! Minus voluptates, a voluptatem dolor neque dolore veritatis magni doloribus quae!
              {% endblock %}
            </main>
          </div>
        </div>
      </header>
    </div>

    <footer class="py-3 text-center" style="background-color: #F559CE;">
      <p>2025 PerfectMatch | Ozias Tasse Douanla && Marie Wideline Pierre && Vosa Neo. Tous droits réservés.</p>
    </footer>
  </body>
</html>
