{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- icone du site -->
    <link rel="icon" href="" />
    <!-- style bootstrap? -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- titre tu site -->
    <title>
      {% block title %}
        PerfectMatch
      {% endblock %}
    </title>

    <!-- script javascript -->
    {% block script %}

    {% endblock %}
  </head>

  <body>
    <!-- Accescibilitee avec tabulation -->
    <a class="visually-hidden-focusable" href="#content">Access au contenu</a>
    <header>
      <nav class="bg-primary container-fluid">
        <div>
          <div class="row">
            <div class="col-12 d-flex justify-content-end align-items-center gap-2 mt-3">
              <a class="btn btn-secondary px-4" href="{% url 'connexion' %}">Se connecter</a>
              <a class="btn btn-secondary px-4" href="{% url 'inscription' %}">S'incrire</a>
            </div>
            <div class="col-12 text-center mb-3">
              <a class="navbar-brand link-secondary" href="/utilisateurs">
                <img class="img-fluid" src="{% static 'utilisateurs/images/happy.png' %}" alt="" height="150" width="150" />
                {% block header %}
                  <h2 class="visually-hidden">PerfectMatch</h2>
                {% endblock %}
              </a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main id="content">
      {% block main %}

      {% endblock %}
    </main>
    <footer class="bg-primary py-3 text-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2 gx-5">
            <h2>Nous rejoindre</h2>
            <a>facebook.com</a>
          </div>
        </div>
      </div>

      <p>2025 PerfectMatch | Ozias Tasse Douanla && Marie Wideline Pierre && Vosa Neo. Tous droits réservés.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
