{% extends "utilisateurs/_modele.html"%}

{% block title %}
PerfectMatch - Connexion
{% endblock %}

{% block header%}
<h2>
    <a href="/">

    </a>
</h2>
{% endblock %}

{% block main%}
<p>hi</p>
<!-- Zone de recherche-->
            <form class="" action="" method="get">
                <div>
                    <label class="form-label visually-hidden" for="txtRecherche">Champs de recherche</label>
                    <input class="form-control" type="search" placeholder="Rechercher..." name="txtRecherche" aria-label="Champs de recherche"></input>
                </div>
            </form>
{% endblock %}