{% extends 'utilisateurs/_modele.html' %}
{% load static %}

{% block title %}
  PerfectMatch - Discussions
{% endblock %}

{% block header %}
  <h2><a href="{% url "accueil" %}">PerfectMatch</a></h2>
{% endblock %}

{% block main %}
<div class="container-fluid bg-secondary py-4 px-5 format-discussions" style="height:85vh;">
  <div class="row h-100">

    <!-- LISTE DES DISCUSSIONS -->
    
    <div class="col-4  rounded-3 h-100 d-flex flex-column">
      <h1 class="mt-2 mb-3 h1">Discussions</h1>
      <ul class="list-group flex-grow-1 overflow-auto" id="list-partenaire"></ul>
    </div>


    <!-- FENETRE DE CONVERSATIONS -->
    <div class="col-8 scrollable d-flex flex-column rounded-3 h-100">

      <!-- BOITE DE MESSAGES -->
      <div id="messages" class="flex-grow-1 mt-3 overflow-auto rounded-1 bg-white">
        <p class="text-muted">Sélectionnez une discussion…</p>
      </div>

      <!-- ENTREE MESSAGES NON FONCTIONNEL -->
      <form class="my-3" action="" novalidate>
        {% csrf_token %}
        <div class="input-group">
          <input type="text" id="message-input" class="form-control">
          <button class="btn btn-primary" type="submit" id="send-btn">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scriptjs %}
<script src="{% static 'js/discussions.js' %}" defer></script>
{% endblock %}
