{% extends 'utilisateurs/_base_utilisateur.html' %}
{% comment %}Non disponible{% endcomment %}
{% load static %}
{% block title %}
  PerfectMatch - Gallerie Photo
{% endblock %}

{% block header %}

{% endblock %}

{% block main %}
  <div class="container">
    <h1 class="h1">Galerie photo de "{{ user.username }}"</h1>
    <div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary mt-2" type="submit">Téléverser</button>
      </form>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for photo in images %}
        <div class="col">
          <div class="card h-100">
            <img src="{{ photo.image.url }}" class="card-img-top" alt="Photo" />
            <div class="card-body">
              <p class="card-text">Uploaded at: {{ photo.uploaded_at|date:'d/m/Y H:i' }}</p>
            </div>
          </div>
        </div>
      {% empty %}
        <p>Aucune photo téléversée.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
