{% extends 'utilisateurs/_base_visiteur.html' %}
{% load static %}
{% block title %}
  PerfectMatch
{% endblock %}
{% block header %}
  <h1 class="visually-hidden">PerfectMatch</h1>
{% endblock %}

{% block main %}
  <div class="hero text-white p-5 text-center">
    <div class="container">
      <h2 class="display-4 h1">PerfectMatch</h2>
      <p class="lead">Cherchez votre paire parfaite.</p>
      <a href="{% url 'connexion' %}" class="btn btn-primary btn-lg me-2">Se connecter</a>
      <a href="{% url 'inscription' %}" class="btn btn-dark btn-lg">S'inscrire</a>
    </div>
  </div>
  <div class="container">
    <div class="row bg-secondary p-5 mx-3">
      <!--  -->
      <div class="col-12 p-3 my-3 rounded-4 text-white bg-primary">
        <div class="row">
          <div class="col-4">
            <img class="img-fluid images300x300" src="{% static 'images/system-2521728_640.jpg' %}" alt="" />
          </div>
          <div class="col-8 text-center my-3">
            <h2 class="h2">Ne perdez plus de temps!</h2>
            <p class="p-2 fs-5">Grâce à notre système intelligent de filtrage et de compatibilité, vous accédez rapidement à des profils qui répondent précisément à vos critères. Que vous cherchiez une affinité professionnelle, amicale ou amoureuse, notre plateforme v ous permet de cibler les bons profils dès le départ
            </p>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-12 p-3 my-3 rounded-4 text-white bg-primary">
        <div class="row">
          <div class="col-8 text-center my-3">
            <h2 class="h2">Approfondissez votre relation proche à une relation intime et joyeuse</h2>
            <p class="p-2 fs-5">Notre plateforme vous permet d’identifier rapidement les profils qui répondent à vos attentes, grâce à des filtres précis et une technologie de matching intelligente. Que vous soyez en quête d’une connexion sérieuse ou d’une affinité spontanée, vous accédez directement aux personnes qui vous correspondent.</p>
          </div>
          <div class="col-4">
            <img class="img-fluid images300x300" src="{% static 'images/GettyImages-1354885010.jpg' %}" alt="" />
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-12 p-3 my-3 rounded-4 text-white bg-primary">
        <div class="row">
          <div class="col-4">
            <img class="img-fluid images300x300" src="{% static 'images/people-7273372_640.jpg' %}" alt="" />
          </div>
          <div class="col-8 text-center">
            <h2 class="text-center h2">Des millions de candidats vous attendent!</h2>
            <p class="p-2 fs-5">
              Ne perdez plus de temps: trouvez des profils qui correspondent à vos critères et testez la solidité de vos matchs avant de vous lancer.<br /><br />Trouvez le profil en un clin d'œil et invitez-les à faire une discussion aimable.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
