{% extends 'utilisateurs/_base_visiteur.html' %}
{% load static %}
{% block title %}
  PerfectMatch
{% endblock %}
{% block header %}
  <h1 class="visually-hidden">PerfectMatch</h1>
{% endblock %}

{% block main %}
  <div class="container-fluid text-white p-5 text-center bg-secondary min-vh-100">
    <div class="container">
      <h1 class="display-4">PerfectMatch</h1>
      <p class="lead">Chercher votre paire parfaite.</p>
      <a href="{% url 'inscription' %}" class="btn btn-outline-light btn-lg">S'inscrire maintenant</a>
    </div>
  </div>
  <section class="mt-4">
    <div class="w-100 d-inline-block row mb-3">
      <img src="../../static/images/system-2521728_640.jpg" alt="image2" class="img-fluid float-md-start col-lg-4" />
      <h5>Ne perdez plus de temps</h5>
      <p class="text-center p-2 fs-5">Grâce à notre système intelligent de filtrage et de compatibilité, vous accédez rapidement à des profils qui répondent précisément à vos critères. Que vous cherchiez une affinité professionnelle, amicale ou amoureuse, notre plateforme v ous permet de cibler les bons profils dès le départ</p>
    </div>
    <div class="w-100 d-inline-block row mb-3">
      <p class="text-center p-2 fs-5">Notre plateforme vous permet d’identifier rapidement les profils qui répondent à vos attentes, grâce à des filtres précis et une technologie de matching intelligente. Que vous soyez en quête d’une connexion sérieuse ou d’une affinité spontanée, vous accédez directement aux personnes qui vous correspondent.</p>
      <img src="../../static/images/system-2521728_640.jpg" alt="image2" class="img-fluid float-md-end col-lg-4" />
    </div>
    <div class="w-100 d-inline-block row mb-3">
      <img src="../../static/images/people-7273372_640.jpg" alt="image1" class="img-fluid float-md-start col-lg-4" />
    </div>
  </section>

  <div class="container">
    <div class="row bg-secondary p-5 mx-3">
      <!--  -->
      <div class="col-12 p-3 my-3 rounded-4 text-white" style="background-color: #F559CE;">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="{% static 'utilisateurs/images/happy.png' %}" width="300" height="300" alt="" />
          </div>
          <div class="col-9 text-center my-3"></div>
        </div>
      </div>
      <!--  -->
      <div class="col-12 p-3 my-3 rounded-4 text-white" style="background-color: #F559CE;">
        <div class="row">
          <div class="col-9 text-center my-3">
            <h2 class="h2">Disponibilités de plusieurs outils pour vous aider!</h2>
            <p>
              Un algorithme intelligent, des critères sur mesure et un test de comptabilité pour transformer vos matchs en vraies histoires.<br />
              On t'encourage aux maximums avec nos outils personnalisés à t'aider le plus possible.
            </p>
          </div>
          <div class="col-3">
            <img class="img-fluid" src="{% static 'utilisateurs/images/happy.png' %}" width="300" height="300" alt="" />
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-12 p-3 my-3 rounded-4 text-white" style="background-color: #F559CE;">
        <div class="row">
          <div class="col-4 text-center my-3">
            <img class="img-fluid rounded-4" src="{% static 'utilisateurs/images/people-7273372_640.jpg' %}" width="300" height="300" alt="" />
          </div>
          <div class="col-8 text-center">
            <h2 class="text-center p-2 fs-5">Approfondissez votre relation proche à une relation intime et joyeuse.<br />Des millions de candidats vous attendent!</h2>
            <p>
              Ne perdez plus de temps: trouvez des profils qui correspondent à vos critères et testez la solidité de vos matchs avant de vous lancer.<br /><br />Trouvez le profil en un clin d'œil et invitez-les à faire une discussion aimable.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae praesentium magni nulla omnis voluptates veniam minima, tenetur tempora exercitationem tempore. Unde corrupti amet aperiam nemo assumenda rem eaque sapiente exercitationem.</div>
    </div>
  </div>
{% endblock %}
