{% extends "utilisateurs/_base.html"%}
{% load static%}

{% block title %}
PerfectMatch
{% endblock %}


{% block header%}
<h2>
    <a href="/">
        PerfectMatch
    </a>
</h2>
{% endblock %}


{% block main%}
<div class="container mb-5">
    <div></div>
    <div class="px-4 py-5 my-5 text-center bg-dark">
        <img class="img-fluid" src="{%static 'utilisateurs/images/happy.png'%}">
    </div>

    <div class="row bg-secondary mx-3">
        <!-- -->
        <div class="col-12">
            <div class="row">
                <div class="col-3"><img class="img-fluid" src="{%static 'utilisateurs/images/happy.png'%}" width="300" height="300" alt=""></div>
                <div class="col-9">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea possimus, ex, illo cum commodi,
                        praesentium nulla nobis perspiciatis sapiente numquam earum ducimus dicta. Recusandae nisi
                        natus,
                        porro repellendus ratione minima.</p>
                </div>
            </div>
        </div>
        <!-- -->
        <div class="col-12">
            <div class="row">
                <div class="col-9">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea possimus, ex, illo cum commodi,
                        praesentium nulla nobis perspiciatis sapiente numquam earum ducimus dicta. Recusandae nisi
                        natus,
                        porro repellendus ratione minima.</p>
                </div>
                <div class="col-3"><img class="img-fluid bg-primary" src="{%static 'utilisateurs/images/happy.png'%}" width="300" height="300" alt=""></div>
            </div>
        </div>
        <!-- -->
        <div class="col-12">
            <div class="row">
                <div class="col-3"><img class="img-fluid" src="{%static 'utilisateurs/images/happy.png'%}" width="300" height="300" alt=""></div>
                <div class="col-9">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea possimus, ex, illo cum commodi,
                        praesentium nulla nobis perspiciatis sapiente numquam earum ducimus dicta. Recusandae nisi
                        natus,
                        porro repellendus ratione minima.</p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}