{% extends "utilisateurs/_modele.html" %}

{% block main %}
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-dark-subtle text-center">
            <h2 class="mb-0">Mes Matchs</h2>
        </div>
        <div class="card-body px-5 py-4">

            {% if matches %}
                <div class="list-group">
                    {% for c in matchs %}
                                <div>
                                    <strong>{{ c.match.username }}</strong><br>
                                    <small class="text-muted">Test fait le {{ c.date_test|date:"d M Y" }}</small>
                                </div>
                                <span class="badge bg-primary rounded-pill fs-5">{{ c.score|floatformat:1 }}%</span>
                            </a>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-center text-muted fs-5">Aucun match pour le moment… Essayez d’en faire un ! 😊</p>
            {% endif %}

            <div class="text-center mt-4">
                <a href="{% url 'accueil' %}" class="btn btn-secondary btn-lg">Retour à l'accueil</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
