{% extends "utilisateurs/_modele.html" %}

{% load static %}

{% block main %}
<div class="container py-5">
    <div class="card shadow-sm p-4" style="max-width: 600px; margin: auto; border-radius: 15px;">
        <h3 class="text-center mb-4">Mon profil</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Nom : </label>
                {{ user.last_name }}
            <div class="mb-3">
                <label class="form-label">Prénom : </label>
                {{ user.first_name }}
            </div>
            <div class="mb-3">
              <label class="form-label">Date de naissance : </label>
              {{ user.birthday }}
            </div>
            <div class="mb-3">
                <label class="form-label">Email : </label>
                {{ user.email }}
            </div>
            <div class="mb-3">
                <label class="form-label">Ville : </label>
                {{ user.city }}
            </div>
            <div class="mb-3">
                <label class="form-label">Pays : </label>
                {{ user.country }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
